@implements IComponentModel<IDataSetModel<T>>
@typeparam T

@if (Model is null) {
    return;
}

<RxAsyncComponent Model="@(Model)">
    <FallbackContent>
        <div @attributes="@(AdditionalAttributes)">
            @(FallbackContent)
        </div>
    </FallbackContent>
    <AwaitContent>
        @(FilterContent)
        <div @attributes="@(AdditionalAttributes)">
            @(DataSetContent)
        </div>
    </AwaitContent>
</RxAsyncComponent>



@code {
    [Parameter(CaptureUnmatchedValues = true)] public IDictionary<string, object>? AdditionalAttributes { get; set; }
    [Parameter, EditorRequired] public IDataSetModel<T> Model { get; set; } = null!;
    [Parameter] public RenderFragment? FallbackContent { get; set; }
    [Parameter] public RenderFragment? FilterContent { get; set; }
    [Parameter] public RenderFragment? DataSetContent { get; set; }
}